* {
  border: 1px solid black;
}

/*- - - - - Variables - - - - - */
/* $primaryFont: "Inter", sans-serif; */
/*- - - - - Mixins- - - - - */

/*- - - - - General - - - - - */

header {
  background-color: grey;
  height: 20vh;
  width: 100%;
  scroll-behavior: auto;
}
main {
  background-color: pink;
  height: 80vh;
  width: 100%;
}
